USE [master]
GO
/****** Object:  Database [nusmart]    Script Date: 11/12/2019 4:40:43 AM ******/
CREATE DATABASE [nusmart]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'nusmart', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\nusmart.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'nusmart_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\nusmart_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [nusmart].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [nusmart]
GO
/****** Object:  Table [dbo].[Alimento]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alimento](
	[calorias] [int] NULL,
	[nombre] [varchar](50) NULL,
	[tipoAlimento] [varchar](50) NULL,
	[alimentoID] [int] IDENTITY(1,1) NOT NULL,
	[eliminado] [bit] NOT NULL CONSTRAINT [DF_Alimento_eliminado]  DEFAULT ((0)),
 CONSTRAINT [PK_Alimento] PRIMARY KEY CLUSTERED 
(
	[alimentoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bitacora](
	[actividad] [varchar](200) NULL,
	[fecha] [datetime] NULL,
	[mensaje] [varchar](200) NULL,
	[tipoCriticidad] [varchar](50) NULL,
	[bitacoraID] [int] IDENTITY(1,1) NOT NULL,
	[usuarioID] [int] NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[bitacoraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DatosAnalíticos]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatosAnalíticos](
	[colesterolHDL] [int] NULL,
	[colesterolLDL] [int] NULL,
	[colesterolTotal] [int] NULL,
	[masaGrasa] [int] NULL,
	[masaMuscular] [int] NULL,
	[porcentajeMasaGrasa] [int] NULL,
	[presionArterial] [int] NULL,
	[trigliceridos] [int] NULL,
	[datosAnalíticosID] [int] NOT NULL,
 CONSTRAINT [PK_DatosAnalíticos] PRIMARY KEY CLUSTERED 
(
	[datosAnalíticosID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DiaAlimenticio]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaAlimenticio](
	[idPlatoAlmuerzo] [int] NULL,
	[idPlatoCena] [int] NULL,
	[idPlatoDesayuno] [int] NULL,
	[idPlatoColacion] [int] NULL,
	[idPlatoMerienda] [int] NULL,
	[diaAlimenticioID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_DiaAlimenticio] PRIMARY KEY CLUSTERED 
(
	[diaAlimenticioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DiaEjercicio]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaEjercicio](
	[diaEjercicioID] [int] IDENTITY(1,1) NOT NULL,
	[ejercicioID] [int] NOT NULL,
	[duracionDia] [int] NOT NULL,
 CONSTRAINT [PK_DiaEjercicio] PRIMARY KEY CLUSTERED 
(
	[diaEjercicioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Dieta]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Dieta](
	[domingo] [int] NULL,
	[jueves] [int] NULL,
	[lunes] [int] NULL,
	[martes] [int] NULL,
	[miercoles] [int] NULL,
	[sabado] [int] NULL,
	[viernes] [int] NULL,
	[dietaID] [int] IDENTITY(1,1) NOT NULL,
	[esGeneradaAutomaticamente] [bit] NOT NULL,
	[nombre] [varchar](100) NULL,
 CONSTRAINT [PK_Dieta] PRIMARY KEY CLUSTERED 
(
	[dietaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DVV]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DVV](
	[nombreTabla] [varchar](50) NULL,
	[valor] [int] NULL,
	[idDVV] [int] NOT NULL,
 CONSTRAINT [PK_DVV] PRIMARY KEY CLUSTERED 
(
	[idDVV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ejercicio]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ejercicio](
	[caloriasQuemadasHora] [int] NULL,
	[nombre] [varchar](50) NULL,
	[ejercicioID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Ejercicio] PRIMARY KEY CLUSTERED 
(
	[ejercicioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Habitos]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Habitos](
	[descripcionHabito] [varchar](50) NULL,
	[pacienteID] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Horario]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tiempo] [time](7) NOT NULL,
 CONSTRAINT [PK_Horarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Idioma](
	[descripcionIdioma] [varchar](50) NULL,
	[nombreIdioma] [varchar](50) NULL,
	[idiomaID] [int] IDENTITY(1,1) NOT NULL,
	[eliminado] [bit] NOT NULL CONSTRAINT [DF_Idioma_eliminado]  DEFAULT ((0)),
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[idiomaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[JoinAlimentoPlato]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JoinAlimentoPlato](
	[alimentoID] [varchar](50) NULL,
	[platoID] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[JoinAlimentoToPlato]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JoinAlimentoToPlato](
	[platoID] [int] NULL,
	[alimentoID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JoinNutricionistaToUsuario]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JoinNutricionistaToUsuario](
	[usuarioID] [int] NULL,
	[nutricionistaID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JoinUsuarioPermiso]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JoinUsuarioPermiso](
	[usuarioID] [int] NOT NULL,
	[permisoID] [int] NOT NULL,
 CONSTRAINT [PK_JounUsuarioPermiso] PRIMARY KEY CLUSTERED 
(
	[usuarioID] ASC,
	[permisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Leyenda]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Leyenda](
	[leyendaID] [int] IDENTITY(1,1) NOT NULL,
	[nombreControl] [varchar](250) NOT NULL,
	[texto] [varchar](250) NOT NULL,
	[idiomaID] [int] NOT NULL,
	[eliminado] [bit] NOT NULL CONSTRAINT [DF_Leyenda_eliminado]  DEFAULT ((0)),
 CONSTRAINT [PK_Leyenda] PRIMARY KEY CLUSTERED 
(
	[leyendaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Medicion]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Medicion](
	[altura] [float] NULL,
	[cadera] [int] NULL,
	[cintura] [int] NULL,
	[peso] [int] NULL,
	[medicionID] [int] IDENTITY(1,1) NOT NULL,
	[datosAnalíticosID] [int] NULL,
	[pacienteID] [int] NOT NULL,
	[turnoID] [int] NOT NULL,
	[bmi] [float] NULL,
	[categoriaBmi] [varchar](100) NULL,
	[bfp] [float] NULL,
	[categoriaBfp] [varchar](100) NULL,
 CONSTRAINT [PK_Medicion] PRIMARY KEY CLUSTERED 
(
	[medicionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Nutricionista]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Nutricionista](
	[nutricionistaID] [int] IDENTITY(1,1) NOT NULL,
	[dni] [int] NOT NULL,
	[especialización] [varchar](50) NULL,
	[matricula] [varchar](50) NULL,
	[apellido] [varchar](50) NOT NULL,
	[usuarioID] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[sexo] [char](1) NOT NULL,
	[eliminado] [bit] NOT NULL CONSTRAINT [DF_Nutricionista_eliminado]  DEFAULT ((0)),
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_Nutricionista] PRIMARY KEY CLUSTERED 
(
	[nutricionistaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Paciente](
	[email] [varchar](50) NULL,
	[telefono] [int] NULL,
	[pacienteID] [int] IDENTITY(1,1) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[dni] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[sexo] [char](1) NOT NULL,
	[eliminado] [bit] NOT NULL CONSTRAINT [DF_Paciente_eliminado]  DEFAULT ((0)),
	[fechaNacimiento] [date] NOT NULL,
 CONSTRAINT [PK_Paciente] PRIMARY KEY CLUSTERED 
(
	[pacienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Permiso](
	[permisoID] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NULL,
	[codigo] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[permisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Permiso_Jerarquia]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso_Jerarquia](
	[IdPadrePermiso] [int] NOT NULL,
	[IdHijoPermiso] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Plato]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Plato](
	[platoID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[calorias] [int] NOT NULL CONSTRAINT [DF_Plato_calorias]  DEFAULT ((0)),
	[esDesayuno] [bit] NOT NULL CONSTRAINT [DF_Plato_esDesayuno]  DEFAULT ((0)),
	[esColacion] [bit] NOT NULL CONSTRAINT [DF_Plato_esColacion]  DEFAULT ((0)),
	[esMerienda] [bit] NOT NULL CONSTRAINT [DF_Plato_esMerienda]  DEFAULT ((0)),
	[esPlatoPrincipal] [bit] NOT NULL,
	[eliminado] [bit] NOT NULL CONSTRAINT [DF_Plato_eliminado]  DEFAULT ((0)),
 CONSTRAINT [PK_Plato] PRIMARY KEY CLUSTERED 
(
	[platoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Proyección]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proyección](
	[proyecciónID] [int] NOT NULL,
	[DVH] [int] NULL,
	[tratamientoID] [int] NOT NULL,
 CONSTRAINT [PK_Proyección] PRIMARY KEY CLUSTERED 
(
	[proyecciónID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PuntoComparativo]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PuntoComparativo](
	[PuntoId] [int] NOT NULL,
	[proyecciónID] [int] NULL,
	[Punto] [int] NULL,
 CONSTRAINT [PK_Punto] PRIMARY KEY CLUSTERED 
(
	[PuntoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PuntoProyeccion]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PuntoProyeccion](
	[PuntoId] [int] NOT NULL,
	[proyecciónID] [int] NULL,
	[ValorPeso] [int] NULL,
	[ValorFecha] [date] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rol]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rol](
	[descripción] [varchar](50) NULL,
	[rolID] [int] NOT NULL,
	[familiaID] [int] NULL,
	[usuarioID] [int] NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[rolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rutina]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rutina](
	[idDiaEjercicioDomingo] [int] NULL,
	[idDiaEjercicioJueves] [int] NULL,
	[idDiaEjercicioLunes] [int] NULL,
	[idDiaEjercicioMartes] [int] NULL,
	[idDiaEjercicioMiercoles] [int] NULL,
	[idDiaEjercicioSabado] [int] NULL,
	[idDiaEjercicioViernes] [int] NULL,
	[rutinaID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Rutina] PRIMARY KEY CLUSTERED 
(
	[rutinaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tratamiento]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tratamiento](
	[fechaFinalizado] [date] NULL,
	[fechaInicio] [date] NOT NULL,
	[tratamientoID] [int] IDENTITY(1,1) NOT NULL,
	[dietaID] [int] NOT NULL,
	[rutinaID] [int] NULL,
	[pacienteID] [int] NOT NULL,
 CONSTRAINT [PK_Tratamiento] PRIMARY KEY CLUSTERED 
(
	[tratamientoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Turno]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Turno](
	[fecha] [date] NOT NULL,
	[turnoID] [int] IDENTITY(1,1) NOT NULL,
	[pacienteID] [int] NOT NULL,
	[nutricionistaID] [int] NOT NULL,
	[horarioID] [int] NOT NULL,
	[motivo] [varchar](100) NULL,
 CONSTRAINT [PK_Turno] PRIMARY KEY CLUSTERED 
(
	[turnoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 11/12/2019 4:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[usuarioID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[intentos] [int] NOT NULL CONSTRAINT [DF_Usuario_intentos]  DEFAULT ((0)),
	[eliminado] [bit] NOT NULL CONSTRAINT [DF_Usuario_eliminado]  DEFAULT ((0)),
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[usuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Alimento] ON 

INSERT [dbo].[Alimento] ([calorias], [nombre], [tipoAlimento], [alimentoID], [eliminado]) VALUES (140, N'Vaso de Leche Entera', N'Lacteo', 4, 0)
INSERT [dbo].[Alimento] ([calorias], [nombre], [tipoAlimento], [alimentoID], [eliminado]) VALUES (160, N'Huevo Hervido', N'Vegetariano', 5, 0)
INSERT [dbo].[Alimento] ([calorias], [nombre], [tipoAlimento], [alimentoID], [eliminado]) VALUES (100, N'Yogur Descremado con Cereales', N'Lacteo', 6, 0)
SET IDENTITY_INSERT [dbo].[Alimento] OFF
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([actividad], [fecha], [mensaje], [tipoCriticidad], [bitacoraID], [usuarioID]) VALUES (N'Login de Usuario', CAST(N'2019-10-29 15:13:03.750' AS DateTime), N'Se detecto un evento de ingreso', N'Media', 1, 1)
INSERT [dbo].[Bitacora] ([actividad], [fecha], [mensaje], [tipoCriticidad], [bitacoraID], [usuarioID]) VALUES (N'Login de Usuario', CAST(N'2019-10-29 16:16:17.047' AS DateTime), N'Se detecto un evento de ingreso', N'Media', 2, 1)
INSERT [dbo].[Bitacora] ([actividad], [fecha], [mensaje], [tipoCriticidad], [bitacoraID], [usuarioID]) VALUES (N'Login de Usuario', CAST(N'2019-10-29 16:28:49.510' AS DateTime), N'Se detecto un evento de ingreso', N'Media', 3, 1)
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
SET IDENTITY_INSERT [dbo].[DiaAlimenticio] ON 

INSERT [dbo].[DiaAlimenticio] ([idPlatoAlmuerzo], [idPlatoCena], [idPlatoDesayuno], [idPlatoColacion], [idPlatoMerienda], [diaAlimenticioID]) VALUES (7, 11, 19, 24, 20, 15)
INSERT [dbo].[DiaAlimenticio] ([idPlatoAlmuerzo], [idPlatoCena], [idPlatoDesayuno], [idPlatoColacion], [idPlatoMerienda], [diaAlimenticioID]) VALUES (6, 8, 19, 25, 21, 16)
INSERT [dbo].[DiaAlimenticio] ([idPlatoAlmuerzo], [idPlatoCena], [idPlatoDesayuno], [idPlatoColacion], [idPlatoMerienda], [diaAlimenticioID]) VALUES (7, 4, 20, 23, 21, 17)
SET IDENTITY_INSERT [dbo].[DiaAlimenticio] OFF
SET IDENTITY_INSERT [dbo].[DiaEjercicio] ON 

INSERT [dbo].[DiaEjercicio] ([diaEjercicioID], [ejercicioID], [duracionDia]) VALUES (22, 1, 50)
INSERT [dbo].[DiaEjercicio] ([diaEjercicioID], [ejercicioID], [duracionDia]) VALUES (23, 1, 60)
INSERT [dbo].[DiaEjercicio] ([diaEjercicioID], [ejercicioID], [duracionDia]) VALUES (24, 2, 20)
SET IDENTITY_INSERT [dbo].[DiaEjercicio] OFF
SET IDENTITY_INSERT [dbo].[Dieta] ON 

INSERT [dbo].[Dieta] ([domingo], [jueves], [lunes], [martes], [miercoles], [sabado], [viernes], [dietaID], [esGeneradaAutomaticamente], [nombre]) VALUES (21, 18, 15, 16, 17, 20, 19, 1, 0, N'Dieta Variada Levemente Baja en Calorias')
INSERT [dbo].[Dieta] ([domingo], [jueves], [lunes], [martes], [miercoles], [sabado], [viernes], [dietaID], [esGeneradaAutomaticamente], [nombre]) VALUES (28, 25, 22, 23, 24, 27, 26, 2, 0, N'Dieta de Prueba')
INSERT [dbo].[Dieta] ([domingo], [jueves], [lunes], [martes], [miercoles], [sabado], [viernes], [dietaID], [esGeneradaAutomaticamente], [nombre]) VALUES (49, 46, 43, 44, 45, 48, 47, 3, 1, NULL)
SET IDENTITY_INSERT [dbo].[Dieta] OFF
INSERT [dbo].[DVV] ([nombreTabla], [valor], [idDVV]) VALUES (N'Usuario', 536119, 1)
INSERT [dbo].[DVV] ([nombreTabla], [valor], [idDVV]) VALUES (N'Nutricionista', 558623, 2)
SET IDENTITY_INSERT [dbo].[Ejercicio] ON 

INSERT [dbo].[Ejercicio] ([caloriasQuemadasHora], [nombre], [ejercicioID]) VALUES (250, N'Caminata Rapida', 1)
INSERT [dbo].[Ejercicio] ([caloriasQuemadasHora], [nombre], [ejercicioID]) VALUES (100, N'Yoga', 2)
INSERT [dbo].[Ejercicio] ([caloriasQuemadasHora], [nombre], [ejercicioID]) VALUES (450, N'Paddle', 3)
SET IDENTITY_INSERT [dbo].[Ejercicio] OFF
SET IDENTITY_INSERT [dbo].[Horario] ON 

INSERT [dbo].[Horario] ([id], [tiempo]) VALUES (5, CAST(N'09:00:00' AS Time))
INSERT [dbo].[Horario] ([id], [tiempo]) VALUES (6, CAST(N'09:30:00' AS Time))
INSERT [dbo].[Horario] ([id], [tiempo]) VALUES (7, CAST(N'10:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Horario] OFF
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([descripcionIdioma], [nombreIdioma], [idiomaID], [eliminado]) VALUES (N'Idioma Español neutro', N'Español', 1, 0)
INSERT [dbo].[Idioma] ([descripcionIdioma], [nombreIdioma], [idiomaID], [eliminado]) VALUES (N'UK English Language', N'English', 2, 0)
INSERT [dbo].[Idioma] ([descripcionIdioma], [nombreIdioma], [idiomaID], [eliminado]) VALUES (N'Idioma Español neutro', N'asdasd', 3, 1)
SET IDENTITY_INSERT [dbo].[Idioma] OFF
INSERT [dbo].[JoinAlimentoPlato] ([alimentoID], [platoID]) VALUES (N'10', N'1')
INSERT [dbo].[JoinAlimentoPlato] ([alimentoID], [platoID]) VALUES (N'7', N'1')
INSERT [dbo].[JoinAlimentoPlato] ([alimentoID], [platoID]) VALUES (N'63', N'3')
GO
INSERT [dbo].[JoinUsuarioPermiso] ([usuarioID], [permisoID]) VALUES (1, 36)
INSERT [dbo].[JoinUsuarioPermiso] ([usuarioID], [permisoID]) VALUES (1, 37)
INSERT [dbo].[JoinUsuarioPermiso] ([usuarioID], [permisoID]) VALUES (1, 39)
SET IDENTITY_INSERT [dbo].[Leyenda] ON 

INSERT [dbo].[Leyenda] ([leyendaID], [nombreControl], [texto], [idiomaID], [eliminado]) VALUES (1, N'Login_label_usuario', N'Usuario', 1, 0)
INSERT [dbo].[Leyenda] ([leyendaID], [nombreControl], [texto], [idiomaID], [eliminado]) VALUES (2, N'Login_label_usuario', N'User', 2, 0)
INSERT [dbo].[Leyenda] ([leyendaID], [nombreControl], [texto], [idiomaID], [eliminado]) VALUES (3, N'Login_label_password', N'Contraseña', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Leyenda] OFF
SET IDENTITY_INSERT [dbo].[Medicion] ON 

INSERT [dbo].[Medicion] ([altura], [cadera], [cintura], [peso], [medicionID], [datosAnalíticosID], [pacienteID], [turnoID], [bmi], [categoriaBmi], [bfp], [categoriaBfp]) VALUES (1.75, 80, 70, 85, 42, NULL, 1, 8, 27.8, N'Sobrepeso', 23.369999999999997, N'Parmetros Sanos')
INSERT [dbo].[Medicion] ([altura], [cadera], [cintura], [peso], [medicionID], [datosAnalíticosID], [pacienteID], [turnoID], [bmi], [categoriaBmi], [bfp], [categoriaBfp]) VALUES (1.7, 90, 80, 80, 43, NULL, 7, 14, 27.7, N'Sobrepeso', 23.709999999999994, N'Parametros Sanos')
INSERT [dbo].[Medicion] ([altura], [cadera], [cintura], [peso], [medicionID], [datosAnalíticosID], [pacienteID], [turnoID], [bmi], [categoriaBmi], [bfp], [categoriaBfp]) VALUES (1.7, 80, 90, 80, 44, NULL, 7, 10, 27.7, N'Overweight', 23.709999999999994, N'Healthy Parameters')
SET IDENTITY_INSERT [dbo].[Medicion] OFF
SET IDENTITY_INSERT [dbo].[Nutricionista] ON 

INSERT [dbo].[Nutricionista] ([nutricionistaID], [dni], [especialización], [matricula], [apellido], [usuarioID], [nombre], [sexo], [eliminado], [DVH]) VALUES (1, 37171095, N'Nutricion', N'ASD2123', N'Nieto', 1, N'Cristian', N'M', 0, 35169)
INSERT [dbo].[Nutricionista] ([nutricionistaID], [dni], [especialización], [matricula], [apellido], [usuarioID], [nombre], [sexo], [eliminado], [DVH]) VALUES (3, 1234, N'Informatica', N'1234', N'1234', 6, N'cristian1234', N'M', 0, 39026)
INSERT [dbo].[Nutricionista] ([nutricionistaID], [dni], [especialización], [matricula], [apellido], [usuarioID], [nombre], [sexo], [eliminado], [DVH]) VALUES (5, 2351241, N'Algo', N'FAFA123', N'Jaime', 8, N'Jacinto', N'M', 0, 37529)
SET IDENTITY_INSERT [dbo].[Nutricionista] OFF
SET IDENTITY_INSERT [dbo].[Paciente] ON 

INSERT [dbo].[Paciente] ([email], [telefono], [pacienteID], [apellido], [dni], [nombre], [sexo], [eliminado], [fechaNacimiento]) VALUES (N'carlossanchez@live.com', 1136040313, 1, N'Sanchez', 37171096, N'Carlos', N'M', 0, CAST(N'1992-11-10' AS Date))
INSERT [dbo].[Paciente] ([email], [telefono], [pacienteID], [apellido], [dni], [nombre], [sexo], [eliminado], [fechaNacimiento]) VALUES (N'juanlopez@live.com', 1124352354, 3, N'Lopez', 1234123, N'Juancho', N'M', 0, CAST(N'1985-02-12' AS Date))
INSERT [dbo].[Paciente] ([email], [telefono], [pacienteID], [apellido], [dni], [nombre], [sexo], [eliminado], [fechaNacimiento]) VALUES (N'lola@yahoo.com', 15231234, 5, N'Lopez', 561254133, N'Lola', N'F', 1, CAST(N'1984-07-11' AS Date))
SET IDENTITY_INSERT [dbo].[Paciente] OFF
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([permisoID], [descripcion], [codigo]) VALUES (3, N'Alta de datos de Paciente', N'OP004')
INSERT [dbo].[Permiso] ([permisoID], [descripcion], [codigo]) VALUES (4, N'Modificacion de datos de Paciente', N'OP005')
INSERT [dbo].[Permiso] ([permisoID], [descripcion], [codigo]) VALUES (6, N'Consulta de Alimentos', N'OP007')
SET IDENTITY_INSERT [dbo].[Permiso] OFF
INSERT [dbo].[Permiso_Jerarquia] ([IdPadrePermiso], [IdHijoPermiso]) VALUES (36, 3)
INSERT [dbo].[Permiso_Jerarquia] ([IdPadrePermiso], [IdHijoPermiso]) VALUES (36, 4)
INSERT [dbo].[Permiso_Jerarquia] ([IdPadrePermiso], [IdHijoPermiso]) VALUES (38, 128)
SET IDENTITY_INSERT [dbo].[Plato] ON 

INSERT [dbo].[Plato] ([platoID], [nombre], [calorias], [esDesayuno], [esColacion], [esMerienda], [esPlatoPrincipal], [eliminado]) VALUES (1, N'Huevo con Jugo de Naranja', 185, 1, 0, 0, 0, 0)
INSERT [dbo].[Plato] ([platoID], [nombre], [calorias], [esDesayuno], [esColacion], [esMerienda], [esPlatoPrincipal], [eliminado]) VALUES (3, N'Soja con Bebida Cola', 320, 0, 0, 0, 1, 0)
INSERT [dbo].[Plato] ([platoID], [nombre], [calorias], [esDesayuno], [esColacion], [esMerienda], [esPlatoPrincipal], [eliminado]) VALUES (4, N'Pollo con Arroz', 280, 0, 0, 0, 1, 0)
SET IDENTITY_INSERT [dbo].[Plato] OFF
SET IDENTITY_INSERT [dbo].[Rutina] ON 

INSERT [dbo].[Rutina] ([idDiaEjercicioDomingo], [idDiaEjercicioJueves], [idDiaEjercicioLunes], [idDiaEjercicioMartes], [idDiaEjercicioMiercoles], [idDiaEjercicioSabado], [idDiaEjercicioViernes], [rutinaID], [nombre]) VALUES (28, 25, 22, 23, 24, 27, 26, 3, N'Prueba')
INSERT [dbo].[Rutina] ([idDiaEjercicioDomingo], [idDiaEjercicioJueves], [idDiaEjercicioLunes], [idDiaEjercicioMartes], [idDiaEjercicioMiercoles], [idDiaEjercicioSabado], [idDiaEjercicioViernes], [rutinaID], [nombre]) VALUES (NULL, 38, 37, NULL, NULL, 39, NULL, 6, N'Intensiva')
INSERT [dbo].[Rutina] ([idDiaEjercicioDomingo], [idDiaEjercicioJueves], [idDiaEjercicioLunes], [idDiaEjercicioMartes], [idDiaEjercicioMiercoles], [idDiaEjercicioSabado], [idDiaEjercicioViernes], [rutinaID], [nombre]) VALUES (NULL, NULL, 40, NULL, 41, NULL, 42, 7, N'Liviana')
SET IDENTITY_INSERT [dbo].[Rutina] OFF
SET IDENTITY_INSERT [dbo].[Tratamiento] ON 

INSERT [dbo].[Tratamiento] ([fechaFinalizado], [fechaInicio], [tratamientoID], [dietaID], [rutinaID], [pacienteID]) VALUES (NULL, CAST(N'2019-11-04' AS Date), 3, 6, 3, 1)
INSERT [dbo].[Tratamiento] ([fechaFinalizado], [fechaInicio], [tratamientoID], [dietaID], [rutinaID], [pacienteID]) VALUES (CAST(N'2019-11-11' AS Date), CAST(N'2019-11-11' AS Date), 4, 1, NULL, 7)
INSERT [dbo].[Tratamiento] ([fechaFinalizado], [fechaInicio], [tratamientoID], [dietaID], [rutinaID], [pacienteID]) VALUES (CAST(N'2019-10-29' AS Date), CAST(N'2019-10-29' AS Date), 5, 7, NULL, 3)
SET IDENTITY_INSERT [dbo].[Tratamiento] OFF
SET IDENTITY_INSERT [dbo].[Turno] ON 

INSERT [dbo].[Turno] ([fecha], [turnoID], [pacienteID], [nutricionistaID], [horarioID], [motivo]) VALUES (CAST(N'2019-10-08' AS Date), 2, 1, 1, 20, NULL)
INSERT [dbo].[Turno] ([fecha], [turnoID], [pacienteID], [nutricionistaID], [horarioID], [motivo]) VALUES (CAST(N'2019-10-15' AS Date), 6, 1, 1, 9, N'Consulta de Rutina')
INSERT [dbo].[Turno] ([fecha], [turnoID], [pacienteID], [nutricionistaID], [horarioID], [motivo]) VALUES (CAST(N'2019-10-29' AS Date), 7, 3, 1, 5, N'Prueba')
SET IDENTITY_INSERT [dbo].[Turno] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([usuarioID], [username], [password], [intentos], [eliminado], [DVH]) VALUES (1, N'test', N'b08c8c585b6d67164c163767076445d6', 0, 0, 34814)
INSERT [dbo].[Usuario] ([usuarioID], [username], [password], [intentos], [eliminado], [DVH]) VALUES (6, N'crisnieto', N'a404fbc5011df2716580b9362d43fc6e', 0, 0, 35940)
INSERT [dbo].[Usuario] ([usuarioID], [username], [password], [intentos], [eliminado], [DVH]) VALUES (8, N'prueba', N'561b8551f6f11713c9f5440db30ad42c', 0, 0, 35574)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
/****** Object:  Index [IX_Nutricionista]    Script Date: 11/12/2019 4:40:44 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Nutricionista] ON [dbo].[Nutricionista]
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Paciente_1]    Script Date: 11/12/2019 4:40:44 AM ******/
ALTER TABLE [dbo].[Paciente] ADD  CONSTRAINT [IX_Paciente_1] UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Permiso]    Script Date: 11/12/2019 4:40:44 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Permiso] ON [dbo].[Permiso]
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [uq_turno]    Script Date: 11/12/2019 4:40:44 AM ******/
ALTER TABLE [dbo].[Turno] ADD  CONSTRAINT [uq_turno] UNIQUE NONCLUSTERED 
(
	[fecha] ASC,
	[horarioID] ASC,
	[nutricionistaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Usuario]    Script Date: 11/12/2019 4:40:44 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Usuario] ON [dbo].[Usuario]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([usuarioID])
REFERENCES [dbo].[Usuario] ([usuarioID])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[DiaAlimenticio]  WITH CHECK ADD  CONSTRAINT [FK_DiaAlimenticio_Alimento_Merienda] FOREIGN KEY([idPlatoMerienda])
REFERENCES [dbo].[Alimento] ([alimentoID])
GO
ALTER TABLE [dbo].[DiaAlimenticio] CHECK CONSTRAINT [FK_DiaAlimenticio_Alimento_Merienda]
GO
ALTER TABLE [dbo].[DiaAlimenticio]  WITH CHECK ADD  CONSTRAINT [FK_DiaAlimenticio_Plato_Almuerzo] FOREIGN KEY([idPlatoAlmuerzo])
REFERENCES [dbo].[Plato] ([platoID])
GO
ALTER TABLE [dbo].[DiaAlimenticio] CHECK CONSTRAINT [FK_DiaAlimenticio_Plato_Almuerzo]
GO
ALTER TABLE [dbo].[DiaAlimenticio]  WITH CHECK ADD  CONSTRAINT [FK_DiaAlimenticio_Plato_Cena] FOREIGN KEY([idPlatoCena])
REFERENCES [dbo].[Plato] ([platoID])
GO
ALTER TABLE [dbo].[DiaAlimenticio] CHECK CONSTRAINT [FK_DiaAlimenticio_Plato_Cena]
GO
ALTER TABLE [dbo].[DiaAlimenticio]  WITH CHECK ADD  CONSTRAINT [FK_DiaAlimenticio_Plato_Colacion] FOREIGN KEY([idPlatoColacion])
REFERENCES [dbo].[Plato] ([platoID])
GO
ALTER TABLE [dbo].[DiaAlimenticio] CHECK CONSTRAINT [FK_DiaAlimenticio_Plato_Colacion]
GO
ALTER TABLE [dbo].[DiaAlimenticio]  WITH CHECK ADD  CONSTRAINT [FK_DiaAlimenticio_Plato_Desayuno] FOREIGN KEY([idPlatoDesayuno])
REFERENCES [dbo].[Plato] ([platoID])
GO
ALTER TABLE [dbo].[DiaAlimenticio] CHECK CONSTRAINT [FK_DiaAlimenticio_Plato_Desayuno]
GO
ALTER TABLE [dbo].[DiaAlimenticio]  WITH CHECK ADD  CONSTRAINT [FK_DiaAlimenticio_Plato_Merienda] FOREIGN KEY([idPlatoMerienda])
REFERENCES [dbo].[Plato] ([platoID])
GO
ALTER TABLE [dbo].[DiaAlimenticio] CHECK CONSTRAINT [FK_DiaAlimenticio_Plato_Merienda]
GO
ALTER TABLE [dbo].[DiaEjercicio]  WITH CHECK ADD  CONSTRAINT [FK_DiaEjercicio_DiaEjercicio] FOREIGN KEY([ejercicioID])
REFERENCES [dbo].[Ejercicio] ([ejercicioID])
GO
ALTER TABLE [dbo].[DiaEjercicio] CHECK CONSTRAINT [FK_DiaEjercicio_DiaEjercicio]
GO
ALTER TABLE [dbo].[Dieta]  WITH CHECK ADD  CONSTRAINT [FK_Dieta_DiaAlimenticio_Domingo] FOREIGN KEY([domingo])
REFERENCES [dbo].[DiaAlimenticio] ([diaAlimenticioID])
GO
ALTER TABLE [dbo].[Dieta] CHECK CONSTRAINT [FK_Dieta_DiaAlimenticio_Domingo]
GO
ALTER TABLE [dbo].[Dieta]  WITH CHECK ADD  CONSTRAINT [FK_Dieta_DiaAlimenticio_Jueves] FOREIGN KEY([jueves])
REFERENCES [dbo].[DiaAlimenticio] ([diaAlimenticioID])
GO
ALTER TABLE [dbo].[Dieta] CHECK CONSTRAINT [FK_Dieta_DiaAlimenticio_Jueves]
GO
ALTER TABLE [dbo].[Dieta]  WITH CHECK ADD  CONSTRAINT [FK_Dieta_DiaAlimenticio_Lunes] FOREIGN KEY([lunes])
REFERENCES [dbo].[DiaAlimenticio] ([diaAlimenticioID])
GO
ALTER TABLE [dbo].[Dieta] CHECK CONSTRAINT [FK_Dieta_DiaAlimenticio_Lunes]
GO
ALTER TABLE [dbo].[Dieta]  WITH CHECK ADD  CONSTRAINT [FK_Dieta_DiaAlimenticio_Martes] FOREIGN KEY([martes])
REFERENCES [dbo].[DiaAlimenticio] ([diaAlimenticioID])
GO
ALTER TABLE [dbo].[Dieta] CHECK CONSTRAINT [FK_Dieta_DiaAlimenticio_Martes]
GO
ALTER TABLE [dbo].[Dieta]  WITH CHECK ADD  CONSTRAINT [FK_Dieta_DiaAlimenticio_Miercoles] FOREIGN KEY([miercoles])
REFERENCES [dbo].[DiaAlimenticio] ([diaAlimenticioID])
GO
ALTER TABLE [dbo].[Dieta] CHECK CONSTRAINT [FK_Dieta_DiaAlimenticio_Miercoles]
GO
ALTER TABLE [dbo].[Dieta]  WITH CHECK ADD  CONSTRAINT [FK_Dieta_DiaAlimenticio_Sabado] FOREIGN KEY([sabado])
REFERENCES [dbo].[DiaAlimenticio] ([diaAlimenticioID])
GO
ALTER TABLE [dbo].[Dieta] CHECK CONSTRAINT [FK_Dieta_DiaAlimenticio_Sabado]
GO
ALTER TABLE [dbo].[Dieta]  WITH CHECK ADD  CONSTRAINT [FK_Dieta_DiaAlimenticio_Viernes] FOREIGN KEY([viernes])
REFERENCES [dbo].[DiaAlimenticio] ([diaAlimenticioID])
GO
ALTER TABLE [dbo].[Dieta] CHECK CONSTRAINT [FK_Dieta_DiaAlimenticio_Viernes]
GO
ALTER TABLE [dbo].[Habitos]  WITH CHECK ADD  CONSTRAINT [FK_Habitos_Paciente] FOREIGN KEY([pacienteID])
REFERENCES [dbo].[Paciente] ([pacienteID])
GO
ALTER TABLE [dbo].[Habitos] CHECK CONSTRAINT [FK_Habitos_Paciente]
GO
ALTER TABLE [dbo].[JoinAlimentoToPlato]  WITH CHECK ADD  CONSTRAINT [FK_JoinAlimentoToPlato_Plato] FOREIGN KEY([platoID])
REFERENCES [dbo].[Plato] ([platoID])
GO
ALTER TABLE [dbo].[JoinAlimentoToPlato] CHECK CONSTRAINT [FK_JoinAlimentoToPlato_Plato]
GO
ALTER TABLE [dbo].[JoinUsuarioPermiso]  WITH CHECK ADD  CONSTRAINT [FK_JoinUsuarioPermiso_Permiso] FOREIGN KEY([permisoID])
REFERENCES [dbo].[Permiso] ([permisoID])
GO
ALTER TABLE [dbo].[JoinUsuarioPermiso] CHECK CONSTRAINT [FK_JoinUsuarioPermiso_Permiso]
GO
ALTER TABLE [dbo].[JoinUsuarioPermiso]  WITH CHECK ADD  CONSTRAINT [FK_JoinUsuarioPermiso_Usuario] FOREIGN KEY([usuarioID])
REFERENCES [dbo].[Usuario] ([usuarioID])
GO
ALTER TABLE [dbo].[JoinUsuarioPermiso] CHECK CONSTRAINT [FK_JoinUsuarioPermiso_Usuario]
GO
ALTER TABLE [dbo].[Leyenda]  WITH CHECK ADD  CONSTRAINT [FK_Leyenda_Idioma] FOREIGN KEY([idiomaID])
REFERENCES [dbo].[Idioma] ([idiomaID])
GO
ALTER TABLE [dbo].[Leyenda] CHECK CONSTRAINT [FK_Leyenda_Idioma]
GO
ALTER TABLE [dbo].[Medicion]  WITH CHECK ADD  CONSTRAINT [FK_Medicion_DatosAnalíticos] FOREIGN KEY([datosAnalíticosID])
REFERENCES [dbo].[DatosAnalíticos] ([datosAnalíticosID])
GO
ALTER TABLE [dbo].[Medicion] CHECK CONSTRAINT [FK_Medicion_DatosAnalíticos]
GO
ALTER TABLE [dbo].[Medicion]  WITH CHECK ADD  CONSTRAINT [FK_Medicion_Turno] FOREIGN KEY([turnoID])
REFERENCES [dbo].[Turno] ([turnoID])
GO
ALTER TABLE [dbo].[Medicion] CHECK CONSTRAINT [FK_Medicion_Turno]
GO
ALTER TABLE [dbo].[Nutricionista]  WITH CHECK ADD  CONSTRAINT [FK_Nutricionista_Usuario] FOREIGN KEY([usuarioID])
REFERENCES [dbo].[Usuario] ([usuarioID])
GO
ALTER TABLE [dbo].[Nutricionista] CHECK CONSTRAINT [FK_Nutricionista_Usuario]
GO
ALTER TABLE [dbo].[Permiso_Jerarquia]  WITH CHECK ADD  CONSTRAINT [FK_Permiso_Jerarquia_Permiso] FOREIGN KEY([IdPadrePermiso])
REFERENCES [dbo].[Permiso] ([permisoID])
GO
ALTER TABLE [dbo].[Permiso_Jerarquia] CHECK CONSTRAINT [FK_Permiso_Jerarquia_Permiso]
GO
ALTER TABLE [dbo].[Permiso_Jerarquia]  WITH CHECK ADD  CONSTRAINT [FK_Permiso_Jerarquia_Permiso1] FOREIGN KEY([IdHijoPermiso])
REFERENCES [dbo].[Permiso] ([permisoID])
GO
ALTER TABLE [dbo].[Permiso_Jerarquia] CHECK CONSTRAINT [FK_Permiso_Jerarquia_Permiso1]
GO
ALTER TABLE [dbo].[Proyección]  WITH CHECK ADD  CONSTRAINT [FK_Proyección_Tratamiento] FOREIGN KEY([tratamientoID])
REFERENCES [dbo].[Tratamiento] ([tratamientoID])
GO
ALTER TABLE [dbo].[Proyección] CHECK CONSTRAINT [FK_Proyección_Tratamiento]
GO
ALTER TABLE [dbo].[PuntoComparativo]  WITH CHECK ADD  CONSTRAINT [FK_Punto_Proyección] FOREIGN KEY([proyecciónID])
REFERENCES [dbo].[Proyección] ([proyecciónID])
GO
ALTER TABLE [dbo].[PuntoComparativo] CHECK CONSTRAINT [FK_Punto_Proyección]
GO
ALTER TABLE [dbo].[PuntoProyeccion]  WITH CHECK ADD  CONSTRAINT [FK_PuntoProyeccion_Proyección] FOREIGN KEY([proyecciónID])
REFERENCES [dbo].[Proyección] ([proyecciónID])
GO
ALTER TABLE [dbo].[PuntoProyeccion] CHECK CONSTRAINT [FK_PuntoProyeccion_Proyección]
GO
ALTER TABLE [dbo].[Rutina]  WITH CHECK ADD  CONSTRAINT [FK_Rutina_DiaEjercicio_Domingo] FOREIGN KEY([idDiaEjercicioDomingo])
REFERENCES [dbo].[DiaEjercicio] ([diaEjercicioID])
GO
ALTER TABLE [dbo].[Rutina] CHECK CONSTRAINT [FK_Rutina_DiaEjercicio_Domingo]
GO
ALTER TABLE [dbo].[Rutina]  WITH CHECK ADD  CONSTRAINT [FK_Rutina_DiaEjercicio_Jueves] FOREIGN KEY([idDiaEjercicioJueves])
REFERENCES [dbo].[DiaEjercicio] ([diaEjercicioID])
GO
ALTER TABLE [dbo].[Rutina] CHECK CONSTRAINT [FK_Rutina_DiaEjercicio_Jueves]
GO
ALTER TABLE [dbo].[Rutina]  WITH CHECK ADD  CONSTRAINT [FK_Rutina_DiaEjercicio_Lunes] FOREIGN KEY([idDiaEjercicioLunes])
REFERENCES [dbo].[DiaEjercicio] ([diaEjercicioID])
GO
ALTER TABLE [dbo].[Rutina] CHECK CONSTRAINT [FK_Rutina_DiaEjercicio_Lunes]
GO
ALTER TABLE [dbo].[Rutina]  WITH CHECK ADD  CONSTRAINT [FK_Rutina_DiaEjercicio_Martes] FOREIGN KEY([idDiaEjercicioMartes])
REFERENCES [dbo].[DiaEjercicio] ([diaEjercicioID])
GO
ALTER TABLE [dbo].[Rutina] CHECK CONSTRAINT [FK_Rutina_DiaEjercicio_Martes]
GO
ALTER TABLE [dbo].[Rutina]  WITH CHECK ADD  CONSTRAINT [FK_Rutina_DiaEjercicio_Miercoles] FOREIGN KEY([idDiaEjercicioMiercoles])
REFERENCES [dbo].[DiaEjercicio] ([diaEjercicioID])
GO
ALTER TABLE [dbo].[Rutina] CHECK CONSTRAINT [FK_Rutina_DiaEjercicio_Miercoles]
GO
ALTER TABLE [dbo].[Rutina]  WITH CHECK ADD  CONSTRAINT [FK_Rutina_DiaEjercicio_Sabado] FOREIGN KEY([idDiaEjercicioSabado])
REFERENCES [dbo].[DiaEjercicio] ([diaEjercicioID])
GO
ALTER TABLE [dbo].[Rutina] CHECK CONSTRAINT [FK_Rutina_DiaEjercicio_Sabado]
GO
ALTER TABLE [dbo].[Rutina]  WITH CHECK ADD  CONSTRAINT [FK_Rutina_DiaEjercicio_Viernes] FOREIGN KEY([idDiaEjercicioViernes])
REFERENCES [dbo].[DiaEjercicio] ([diaEjercicioID])
GO
ALTER TABLE [dbo].[Rutina] CHECK CONSTRAINT [FK_Rutina_DiaEjercicio_Viernes]
GO
ALTER TABLE [dbo].[Tratamiento]  WITH CHECK ADD  CONSTRAINT [FK_Tratamiento_Dieta] FOREIGN KEY([dietaID])
REFERENCES [dbo].[Dieta] ([dietaID])
GO
ALTER TABLE [dbo].[Tratamiento] CHECK CONSTRAINT [FK_Tratamiento_Dieta]
GO
ALTER TABLE [dbo].[Tratamiento]  WITH CHECK ADD  CONSTRAINT [FK_Tratamiento_Paciente] FOREIGN KEY([pacienteID])
REFERENCES [dbo].[Paciente] ([pacienteID])
GO
ALTER TABLE [dbo].[Tratamiento] CHECK CONSTRAINT [FK_Tratamiento_Paciente]
GO
ALTER TABLE [dbo].[Tratamiento]  WITH CHECK ADD  CONSTRAINT [FK_Tratamiento_Rutina] FOREIGN KEY([rutinaID])
REFERENCES [dbo].[Rutina] ([rutinaID])
GO
ALTER TABLE [dbo].[Tratamiento] CHECK CONSTRAINT [FK_Tratamiento_Rutina]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_Horario] FOREIGN KEY([horarioID])
REFERENCES [dbo].[Horario] ([id])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_Horario]
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD  CONSTRAINT [FK_Turno_Paciente] FOREIGN KEY([pacienteID])
REFERENCES [dbo].[Paciente] ([pacienteID])
GO
ALTER TABLE [dbo].[Turno] CHECK CONSTRAINT [FK_Turno_Paciente]
GO
USE [master]
GO
